* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 16px;
    color: #333a56;
    font-family: "Raleway", sans-serif;
    background-color: #e8e8e8;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%23bad0e8' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  }  
h1 {
    width:90%;
    margin:1%;
    padding-top: 10%;
    padding-bottom:0.5em;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 0.25em;
    text-align: center;
    color:#373737;
  }
h2{
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  word-spacing: 0.25em;
  text-align: center;
  color:#373737;
}
h3 {
  font-family: "Raleway", sans-serif;
  font-size:20px;
  text-transform: uppercase;
  color:#373737;
}
.authordate {
  text-align: center;
  padding: 1%;
}
  .copyright {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    word-spacing: 0.25em;
    text-align: center;
    text-transform: uppercase;
  }
  .media_icons {
    text-align:right;
  }

  .footer {
    width:100%;
    height:15%;
    background: #f4f4f4;
  }
  .navigation {
    position:absolute;
    height: 5%;
    width:100%;
    padding: 0.5em,0;
    background: #f4f4f4;
    border-top: 2px solid #373737;
    border-bottom: 2px solid #373737;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 0.25em;
    text-align:center;
    font-size:20px;
    font-family: 'Raleway', sans-serif;
    color: #03143D;
    margin-right:100px;
    list-style-type: none;
    overflow: hidden;
  }

  /* testing animated hamburger menu  */
  .menu-items {
    list-style: none;
    display: flex;
    align-items: center;
  }
  .menu-items li a {
    font-size: 1rem;
    padding: 0.5em 1em;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

  }

  .menu-items li a:hover {background-color:#f4f4f4}

  /* navigation menu button */
  .menu-button {
    position: relative;
    display: none; 
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer; 
    z-index: 1; 
  }
  .menu_button_lines, 
  .menu_button_lines::before,
  .menu_button_lines::after {
    width: 1.5rem;
    height: 0.1rem;
    background-color: #333a56; 
    transition: all 0.5s ease-in-out;
  }
  .menu_button_lines::before,
  .menu_button_lines::after {
    content: "";
    position: absolute;
  }
  .menu_button_lines::before {
    transform: translateY(-0.5rem);

  }
  .menu_button_lines::after {
    transform: translateY(0.5rem);
  }
  /* animation  */
  .menu-button.open .menu_button_lines {
    transform: translateX(2rem);
    background-color: transparent;
  }
  .menu-button.open .menu_button_lines::before {
    transform: rotate(45deg) translate(-1.5rem, 1.5rem);
  }
  .menu-button.open .menu_button_lines::after {
    transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
  }
  li {
    display: inline;
  }
  a:link {
    color:#004735;
    text-decoration: none;}
  a:visited {
    color:black;}
  a:hover {
    color: #c54731;
    text-decoration: none;}
  a:active {
    color: darkcyan;
  }
  /* ^^universal styling across site^^ */

  /* start of styling for about page */


  .intro_about_me {
    width: 100%;
    height: 10%;
    margin: 1%;
    padding: 20px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    text-align:center;
    background: #e8e8e8;
    box-sizing: border-box;
  }
  .about_me {
    display: flex;
    margin: 1%;
    width: 100%;
    align-items: center;
    padding: 10px;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
    
}
  .about_me2 {
    display: flex;
    margin: 1%;
    width: 100%;
    align-items: center;
    padding: 10px;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
}
  .develop {
    width: 700px;
    min-height: 570px; 
    background: #f4f4f4;
    border: solid #333a56;
    border-radius: 25px;
    padding: 20px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    box-shadow: 1px 2px 3px 4px #52658f;
    
  }
  .collaborate {
    width: 700px;
    min-height: 570px; 
    background: #f4f4f4;
    border: solid #333a56;
    border-radius: 25px;
    padding: 20px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    box-shadow: 1px 2px 3px 4px #52658f;
    
  }
  .language {
    width: 700px;
    min-height: 570px; 
    background: #f4f4f4;
    border: solid #333a56;
    border-radius: 25px;
    padding: 20px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    box-shadow: 1px 2px 3px 4px #52658f;
    

  }
  .travel {
    width: 700px;
    min-height: 570px;
    background: #f4f4f4;
    border: solid #333a56;
    border-radius: 25px;
    padding: 20px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    box-shadow: 1px 2px 3px 4px #52658f;
    

  }
  .blog {
    width: 100%;
    height: 15%;
    background: #f4f4f4;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    
  }
  /* end of styling for about page  */

  /* start of styling for experience page  */
  .experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
  }
  .intro {
    width: 100%;
    height: 100%;
    margin: 10px;
    color: #373737;
  }
  .bachelor_arts{
    width: 100%;
    height: 100%;
    background: #E8E8E8;
    border: solid #333a56;
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
  }
  .master_museum_studies{
    width: 100%;
    height: 100%;
    background: #E8E8E8;
    border: solid #333a56;
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
  }
  .diploma_it{
    width: 100%;
    height: 100%;
    background: #E8E8E8;
    border: solid #333a56;
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
  }
  .resume {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  .button {
    background-color: #f4f4f4;
    border: solid 1px;
    color: #373737;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    transition-duration: 1s;
    
  }

  .button:hover {
    background-color: #333a56;
    color:#f4f4f4;

  }
  /* end of styling for experience page */

  /* start of styling for blog page  */

  .blog_container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .blog1 {
    background: #E8E8E8;
    border: solid #333a56;
    border-radius: 25px;
    padding: 5%;
    margin: 5%;
    width: 90%;
    order: 5;
  }
  .blog2 {
    background: #E8E8E8;
    border: solid #333a56;
    border-radius: 25px;
    padding: 5%;
    margin: 5%;
    width: 90%;
    order: 4;
  }
  .blog3 {
    background: #E8E8E8;
    border: solid #333a56;
    border-radius: 25px;
    padding: 5%;
    margin: 5%;
    width: 90%;
    order: 3;
  }
  .blog4 {
    background: #E8E8E8;
    border: solid #333a56;
    border-radius: 25px;
    padding: 5%;
    margin: 5%;
    width: 90%;
    order: 2;
  }
  .blog5 {
    background: #E8E8E8;
    border: solid #333a56;
    border-radius: 25px;
    padding: 5%;
    margin: 5%;
    width: 90%;
    order: 1; 
  }
  .img_container1 {
    display: flex;
    justify-content: center;
  }
  .img_container2 {
    display: flex;
    justify-content: center;
  }
  .img_container3 {
    display: flex;
    justify-content: center;
  }
  .img_container4 {
    display: flex;
    justify-content: center;
  }
  .img_container5 {
    display: flex;
    justify-content: center;
  }
  .computer_img {
    width:480px;
    height:320px;
 }
  .wireframe_img {
    width:560px;
    height:373px;

 }
  .flex_img {
    width: 560px;
    height: 372px;
 }
  .css_img {
    width: 560px;
    height: 347px;
 }
  .github_img {
    width: 560px;
    height: 372px;
}
/* the start of media queries for blog page  */
/* For mobile phones: */

[class*="col-"] {
  width: 100%;
}
/* small mobile phones  */
@media only screen and (min-width: 320px) {
body {
  width: 100%;
  display:block;
}
h1 {
  font-size: 20px;
  padding-top: 50px;
}
h2{
  font-size: 17px;
}
h3{
  font-size:15px;
}
p{
  font-size:14px;
}
.navigation {
  font-size: 14px;
}
.computer_img {
  width:210px;
  height:140px;
}
.wireframe_img {
  width:245px;
  height:163px;
}
.flex_img {
  width: 245px;
  height: 163px;
}
.css_img {
  width: 245px;
  height: 152px;
}
.github_img {
  width:245px;
  height:163px; 
}
}

/* medium mobile phones  */

@media only screen and (min-width: 375px) {
  body {
    width: 100%;
    display:block;
  }
  h1 {
    font-size: 20px;
    padding-top: 50px;
  }
  h2{
    font-size: 17px;
  }
  h3{
    font-size:15px;
  }
  p{
    font-size:14px;
  }
  .navigation {
    font-size: 14px;
  }
  .computer_img {
    width:240px;
    height:160px;
  }
  .wireframe_img {
    width:280px;
    height:186px;
  }
  .flex_img {
    width: 280px;
    height: 186px;
  }
  .css_img {
    width: 280px;
    height: 174px;
  }
  .github_img {
    width:280px;
    height:186px; 
  }
}
/* large mobile phones  */

@media only screen and (min-width: 425px) {
  body {
    width: 100%;
    display:block;
  }
  h1 {
    font-size: 20px;
    padding-top: 50px;
  }
  h2{
    font-size: 18px;
  }
  h3{
    font-size:16px;
  }
  p{
    font-size:15px;
  }
  .navigation {
    font-size: 15px;
  }
  .computer_img {
    width:300px;
    height:200px;
  }
  .wireframe_img {
    width:350px;
    height:233px;
  }
  .flex_img {
    width: 350px;
    height: 233px;
  }
  .css_img {
    width: 350px;
    height: 217px;
  }
  .github_img {
    width:350px;
    height:233px; 
  }
}
/* tablet  */

@media only screen and (min-width: 768px) {
  body {
    width: 100%;
    display:block;
  }
  h1 {
    font-size: 22px;
    padding-top: 50px;
  }
  h2{
    font-size: 18px;
  }
  h3{
    font-size:17px;
  }
  p{
    font-size:16px;
  }
  .navigation {
    font-size: 16px;
  }
  .computer_img {
    width:420px;
    height:280px;
  }
  .wireframe_img {
    width:490px;
    height:326px;
  }
  .flex_img {
    width: 490px;
    height: 326px;
  }
  .css_img {
    width: 490px;
    height: 304px;
  }
  .github_img {
    width:490px;
    height:326px; 
  }
  .develop {width: 48.66%; height: 30%;}
  .collaborate {width: 48.66%; height: 30%;}
  .language {width: 48.66%; height: 30%;}
  .travel {width: 48.66%; height: 30%;}
}
/* Laptop  */
@media only screen and (min-width: 1024px) {
  body {
    width: 100%;
    display:block;
  }
  h1 {
    font-size: 24px;
    padding-top: 60px;
  }
  h2{
    font-size: 20px;
  }
  h3{
    font-size:18px;
  }
  p{
    font-size:16px;
  }
  .navigation {
    font-size: 18px;
  }
  .computer_img {
    width:480px;
    height:320px;
  }
  .wireframe_img {
    width:560px;
    height:372px;
  }
  .flex_img {
    width: 560px;
    height: 372px;
  }
  .css_img {
    width: 560px;
    height: 347px;
  }
  .github_img {
    width:560px;
    height:372px; 
  }
  .develop {width: 48.66%;}
  .collaborate {width: 48.66%;}
  .language {width: 48.66%;}
  .travel {width: 48.66%;}
}
/* Large Laptop  */
@media only screen and (min-width: 1440px) {
  body {
    width: 100%;
    display:block;
  }
  h1 {
    font-size:25px;
    padding-top: 65px;
  }

  h2{font-size:22px;}
  h3{font-size:20px;}
  p{font-size:17px;}
  .navigation {
    font-size: 20px;
  }
  
  .computer_img {
    width: 540px;
    height: 360px;
  }
  .wireframe_img {
    width: 630px;
    height: 419px;
  }
  .flex_img {
    width: 630px;
    height: 419px;
  }
  .css_img {
    width: 630px;
    height: 391px;
  }
  .github_img {
    width: 630px;
    height: 419px; 
  }
}
/* Desktop  */
@media only screen and (min-width: 2560px) {
  body {
    width: 100%;
    display:block;
  }
  .navigation {
    font-size: 30px;
  }
  h1 {
    font-size: 40px;
    padding-top: 90px;
  }
  h2{
    font-size: 30px;
  }
  h3{
    font-size: 24px;
  }
  p{
    font-size:20px;
  }
  .computer_img {
    width:600px;
    height:400px;
  }
  .wireframe_img {
    width:700px;
    height:466px;
  }
  .flex_img {
    width: 700px;
    height: 466px;
  }
  .css_img {
    width: 700px;
    height: 434px;
  }
  .github_img {
    width:700px;
    height:466px; 
  }
  .blog1 {
    padding: 20px;
  }
  .blog2 {
    padding: 20px;
  }
  .blog3 {
    padding: 20px;
  }
  .blog4 {
    padding: 20px;
  }
  .blog5 {
    padding: 20px;
  }
}

/* the end of media queries for blog page  */

  /* responsive media queries  */

/* For mobile phones: */
[class*="col-"] {    
  width: 100%;
  display: block;  
}
/* media query for mobile devices  */
  @media (max-width: 767px) {
  .menu-button {
    display:flex;
  }
  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    transform: translateX(100vw);
    background-color: #52658f;
    transition: transform 0.3s ease-in-out;
  }
  .menu-items.open {
    transform: translateX(0);
  }
  .menu-items li {
    width:100vw;
    height:100%;
  }
  .menu-items li a {
    color:#f4f4f4;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu-items li a:hover {
    color:#373737;

  }

}

  
  /* @media only screen and (min-width: 600px) { */
    /* For tablets: */
      /* hide links inside nav menu  */
    /* .navigation { */
      /* overflow: hidden; */
      /* background-color: #333; */
      /* position: relative;} */
    /* .navigation #myLinks { */
    /* display: none;} */
    /* .navigation a{ */
      /* color:#333a56; */
      /* padding: 14px 16px; */
      /* text-decoration: none; */
      /* font-size: 17px; */
      /* display: block;} */
    /* .navigation a.icon { */
      /* background: black; */
      /* display: block; */
      /* position: absolute; */
      /* right: 0; */
      /* top: 0; */
    /* } */
    /* .navigation a:hover { */
      /* background-color: #52658f; */
      /* color: #373737; */
    /* } */
    /* .active { */
      /* background-color: #004735; */
      /* color: #f4f4f4; */
    /* } */